.additionally-products__wrapper {
  .container-width();
  margin: 0 auto;
  
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 86px;
    flex-wrap: wrap;
  }
}

.additionally-products__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.additionally-products__list {
  .list-reset();
  box-sizing: border-box;
  margin-bottom: 31px;

  li:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;

    li:first-child {
      border-top: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 896px;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additionally-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 15px 0 15px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.additionally-products__item-title {
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  border-bottom: none;
  width: 100%;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin: 0;
    display: contents;
    font-size: 20px;
    line-height: 20px;
    margin-right: 244px;
  }
}

.additionally-products__item-category {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  border-bottom: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additionally-products__item-value {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additionally-products__item-button {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  width: 280px;
  height: 40px;
  border: none;
  background-color: @button-color;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
