.advantages__wrapper {
  .container-width();
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
}

.advantages__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 91px;
  padding-top: 30px;
  padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 214px;
    padding-bottom: 73px;
  }
}

.advantages__list {
  .list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.advantages__item {
  background-color: @gray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  &--weight-loss::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    top: 21px;
    left: 22px;
  }

  &--weight-gain::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/cat-fat.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 53px;
    top: 24px;
    left: 13px;
  }

  @media (min-width: @tablet-width) {
    &--weight-loss::after {
      left: 446px;
      top: 92px;
    }

    &--weight-gain::after {
      left: 446px;
      top: 92px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 374px;
    width: 570px;

    &--weight-loss::after {
      left: 52px;
      top: 41px;
    }

    &--weight-gain::after {
      left: 52px;
      top: 41px;
    }
  }
}

.advantages__item--weight-loss {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 80px;
  }
}

.advantages__link {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  width: 240px;
  border-top: 1px solid #d9d9d9;
  padding-top: 19px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 22px;

  &::after {
    content: "";
    display: flex;
    background-image: url("../img/advantages-arrow.svg");
    width: 32px;
    height: 12px;
    margin-left: 15px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-top: none;
    padding: 0;
    padding-left: 52px;
    padding-bottom: 53px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 55px;
  }
}

.advantages__description {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  width: 227px;
  padding-left: 20px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    padding-left: 52px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 27px;
  }
}
