.cat-eat {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-eat-hero.png");
    background-repeat: no-repeat;
    background-position: top;
    background-color: #444444;
    background-size: auto;
    width: 100%;
    height: 302px;
    top: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      top: -112px;
      right: 0;
      background: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-eat-hero_desk.png");
      background-repeat: no-repeat;
      background-position: top;
      background-color: #444444;
      width: 50%;
      height: 694px;
    }
  }
}

.cat-eat__wrapper {
  margin: 0 auto;

  .inner-container();

  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    min-height: 694px;
  }
}

.cat-eat__text {
  padding-top: 24px;
  padding-bottom: 60px;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding: 0;
    margin-top: 62px;
  }
}

.cat-eat__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  padding: 0;


  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 41px;
  }
}

.cat-eat__slogan {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.cat-eat__img {
  @media (min-width: @desktop-width) {
    position: absolute;
    left: 45%;
  }
}

.cat-eat__link {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  display: flex;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: #68b738;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 44%;
  }
}
