.catalog {
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.catalog__wrapper {
  .container-width();
  margin: 0 auto;
}

.catalog__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
    padding-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 69px 69px 40px;
  padding-top: 19px;
  padding-bottom: 25px;

  &--show-more {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    min-height: 158px;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("../img/plus.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 25px;
      left: 124px;
    }
  }

  @media (min-width: @tablet-width) {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 16%, rgba(242, 242, 242, 1) 16%);
    width: 324px;
    height: 511px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: @gray;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &--show-more {
      box-sizing: border-box;
      height: 429px;
      margin-top: 82px;
      background: @white;
      border: 2px solid #f2f2f2;

      &::before {
        width: 60px;
        height: 60px;
        background-image: url("../img/plus-tablet.svg");
        top: 52px;
        left: 132px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;

    &::before {
      top: 51px;
      left: 92px;
    }
  }
}

.catalog__item-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__item-img {
  width: 100%;
  height: 100%;
}

.catalog__item-title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 76px;
  margin: 0;
  margin-bottom: 18px;

  &--show-more {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
    padding-top: 53px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 159px;
    text-align: center;
    margin-bottom: 21px;
    margin-top: 34px;

    &--show-more {
      margin-bottom: 23px;
      margin-top: 0;
      padding: 0;
    }
  }
}

.catalog__item-title-link {
  text-decoration: none;
  color: #222222;
}

.catalog__item-list {
  .list-reset();
  grid-column: 2/3;
  grid-row: 2/3;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 252px;
  }
}

.catalog__item-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    width: 165px;
    margin: 0 auto;
  }
}

.item__category {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;

  &--show-more {
    width: 165px;
    text-align: center;
    margin-bottom: 87px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.item__value {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.catalog__item-button {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  width: 280px;
  height: 40px;
  border: none;
  background-color: @button-color;
  cursor: pointer;
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &--show-more {
    background-color: @gray;
    color: #444444;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: #4444444d;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    margin-top: 33px;
    width: 248px;

    &--show-more {
      margin-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}
