.cooperation {
  background-color: @gray;
}

.cooperation__wrapper {
  width: 320px;
  margin: 0 auto;
}

.cooperation--color {
  background-color: @white;
}

.cooperation__description {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__adress {
  font-family: @lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
