.how-it-works__wrpapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-bottom: 200px;
    padding-top: 50px;
  }
}

.how-it-works__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  .list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 280px 280px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;

    .how-it-works__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.how-it-works__description {
  font-family: @font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
