.live-example {
  background-color: @gray;

  @media (min-width: @tablet-width) {
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 57%, rgba(242, 242, 242, 1) 57%);
  }

  @media (min-width: @desktop-width) {
    border-top: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 24%, rgba(242, 242, 242, 1) 24%);
  }
}

.live-example__wrapper {
  .container-width();
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 0;
  }
}

.live-example__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
    padding-top: 0;
  }
}

.live-example__description {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
    width: 433px;
  }
}

.live-example__list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 99px;
    justify-content: normal;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 75px;
    display: flex;
    width: 366px;
    margin-bottom: 0;
  }
}

.live-example__item {
  width: 124px;
  text-align: center;
  position: relative;

  &--rectangle::before {
    content: "";
    display: block;
    background-image: url("../img/live-example__border.svg");
    width: 124px;
    height: 56px;
    position: absolute;
  }

  &--legend {
    margin-top: 20px;
    flex-grow: 1;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    width: 162px;
    flex-direction: column;

    &--legend {
      margin-top: 0;
      flex-grow: 0;
      width: 174px;
      text-align: right;
    }

    &--rectangle-long::before {
      content: "";
      display: block;
      background-image: url("../img/live-example__border-tablet-long.svg");
      width: 162px;
      height: 72px;
      position: absolute;
    }

    &--rectangle-short::before {
      content: "";
      display: block;
      background-image: url("../img/live-example__border-tablet-short.svg");
      width: 162px;
      height: 72px;
      position: absolute;
    }

    &:first-child {
      margin-right: 42px;
    }

    &:nth-child(2) {
      margin-right: 167px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 162px;
    flex-direction: column;

    &--legend {
      flex-grow: 0;
      width: 100%;
      margin-top: 55px;
      text-align: left;
    }

    &:first-child {
      margin-right: 42px;
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

.live-example__item-title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 14px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__item-description {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  width: 81px;
  margin: 0 auto;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    margin-top: 12px;
  }
}

.live-example__item-legend {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    &--span {
      margin-right: 63px;
    }
  }
}

.live-example__slider-block {
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.live-example__slider {
  background-image: url("../img/cat-slider-mobile.png");
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    background-image: url("../img/cat-slider-tablet.png");
    width: 560px;
    height: 512px;
    background-repeat: no-repeat;
  }
}
