.main-nav {
  width: auto;
}

.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.main-nav__toggle {
  z-index: 2;
  display: block;
  width: 24px;
  height: 19px;
  cursor: pointer;
  border: none;
  background-color: @white;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    display: block;
    background-image: url("../img/nav_toogle.svg");
    width: 24px;
    height: 19px;
    background-repeat: no-repeat;
  }

  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    display: block;
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      display: block;
      height: 1.5px;
      background-color: #000000;
    }

    &::before {
      width: 24px;
      transform: rotate(45deg);
    }

    &::after {
      width: 23px;
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs .main-nav__wrapper {
    display: block;
  }
}

.main-nav__list {
  .list-reset();
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  top: 65px;
  width: 100%;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    position: static;
    display: flex;
    width: 436px;
    justify-content: space-between;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 0;
  font-family: @main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.link-current {
  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      display: block;
      background-color: #68b738;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: -8px;
    }
  }

  @media (min-width: @desktop-width) {
    &--index {
      color: #ffffff;

      &::after {
        background-color: #ffffff;
      }
    }
  }
}
