.main-header {
  background-color: @white;
}

.main-header__wrapper {
  padding: 10px 20px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  box-sizing: border-box;
  margin: 0 auto;

  .inner-container();

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}
