.present__wrapper {
  background-image: url("../img/catalog_present_cat.png");
  width: 280px;
  height: 290px;
}

.present__description {
  font-family: @lato;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
