.program-form__block {
  &--checkbox {
    display: flex;
    flex-direction: column;
  }

  &--button-text {
    margin-bottom: 32px;
  }

  @media (min-width: @tablet-width) {
    &--checkbox {
      display: grid;
      grid-template-columns: 272px 242px;
      grid-template-rows: 53px 58px;
      gap: 16px 73px;
      align-items: start;
    }

    &--button-text {
      display: flex;
      align-items: center;
      margin-bottom: 72px;
    }
  }

  @media (min-width: @desktop-width) {
    &--basic-data-lose-weight-or-gain {
      display: flex;
      justify-content: space-between;
      margin-bottom: 69px;
    }

    &--contact-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 67px;
    }

    &--checkbox {
      display: flex;
      flex-direction: row;
      gap: 0;
      width: 1220px;
    }

    &--button-text {
      display: flex;
      margin-bottom: 83px;
    }
  }
}

.program-form__field {
  padding: 0;
  border: none;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;

  &--basic-data {
    padding-bottom: 22px;
  }

  &--lose-weight-or-gain {
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 26px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #d9d9d9;
      height: 1px;
      width: 100000px;
      top: 0;
      left: -5000%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #d9d9d9;
      height: 1px;
      width: 100000px;
      left: -5000%;
      bottom: 0;
    }

    @media (min-width: @tablet-width) {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  &--contact-details {
    margin-bottom: 24px;
  }

  &--comments {
    margin-bottom: 20px;
  }

  &--additional-products {
    margin-bottom: 21px;
  }

  @media (min-width: @tablet-width) {
    width: 630px;

    &--basic-data {
      padding: 0;
      margin-bottom: 72px;
    }

    &--lose-weight-or-gain {
      border: 1px solid #e7e7e7;
      padding-left: 28px;
      margin-bottom: 77px;
      width: 630px;
    }

    &--contact-details {
      margin-bottom: 65px;
    }

    &--comments {
      margin-bottom: 65px;
    }
  }

  @media (min-width: @tablet-width) {
    &--comments {
      margin-bottom: 62px;
    }

    &--additional-products {
      margin-bottom: 38px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1220px;

    &--basic-data {
      width: 568px;
      margin-bottom: 0;
    }

    &--lose-weight-or-gain {
      width: 568px;
      margin-bottom: 0;
      padding-top: 22px;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--contact-details {
      margin-bottom: 0;
    }

    &--additional-products {
      margin-bottom: 47px;
    }
  }
}

.program-form__field-title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
  position: relative;

  &--contact-details {
    width: 187px;

    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 10000px;
      background-color: #68b738;
      top: 31%;
      left: calc(100% + 13px);
      position: absolute;
    }

    @media (min-width: @tablet-width) {
      width: 514px;

      &::before {
        top: 64%;
        left: calc(100% + 40px);
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 10000px;
        background-color: #68b738;
        top: 64%;
        right: calc(100% + 39px);
        position: absolute;
      }
    }

    @media (min-width: @desktop-width) {
      &::before {
        top: 60%;
        left: calc(100% + 38px);
      }

      &::after {
        top: 60%;
        right: calc(100% + 40px);
      }
    }
  }

  &--comments {
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 10000px;
      background-color: #68b738;
      top: 49%;
      left: calc(100% + 23px);
      position: absolute;
    }

    @media (min-width: @tablet-width) {
      &::before {
        top: 59%;
        left: calc(100% + 40px);
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 10000px;
        background-color: #68b738;
        top: 59%;
        right: calc(100% + 39px);
        position: absolute;
      }
    }
  }

  &--additional-products {
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 10000px;
      background-color: #68b738;
      top: 56%;
      left: calc(100% + 22px);
      position: absolute;
    }

    @media (min-width: @tablet-width) {
      &::before {
        top: 57%;
        left: calc(100% + 42px);
      }

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 10000px;
        background-color: #68b738;
        top: 57%;
        right: calc(100% + 39px);
        position: absolute;
      }
    }

    @media (min-width: @desktop-width) {
      &::before {
        top: 63%;
        left: calc(100% + 41px);
      }

      &::after {
        top: 60%;
      }
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    &--additional-products {
      margin-bottom: 56px;
    }
  }
}

.program-form__field-point {
  display: flex;
  align-items: center;
  margin: 0;
  box-sizing: border-box;

  &--basic-data:not(:last-child) {
    margin-bottom: 10px;
  }

  &--lose-weight-or-gain:not(:last-child) {
    margin-bottom: 13px;
  }

  &--contact-details:not(:last-child) {
    margin-bottom: 12px;
  }

  &--checkbox {
    margin-bottom: 12px;
  }

  @media (min-width: @tablet-width) {
    &--basic-data:not(:last-child) {
      margin-bottom: 20px;
    }

    &--contact-details:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    &--contact-details:not(:last-child) {
      margin-bottom: 0;
    }

    &--checkbox {
      &:first-child {
        margin-right: 87px;
      }

      &:nth-child(2) {
        margin-right: 119px;
      }

      &:nth-child(3) {
        margin-right: 181px;
      }
    }
  }
}

.program-form__field-label {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-right: 17px;

  &--mail {
    padding-right: 8px;
  }

  &--phone {
    padding-right: 12px;
  }

  &--checkbox:not(:last-child) {
    margin-bottom: 14px;
  }

  &--radio {
    position: relative;
    padding-top: 7px;
    padding-bottom: 5px;
  }

  &--checkbox {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 2px;

    &--radio {
      padding-bottom: 4px;
    }

    &--mail {
      padding-left: 0;
      padding-right: 21px;
    }

    &--phone {
      padding-left: 0;
      padding-right: 23px;
    }
  }

  @media (min-width: @desktop-width) {
    &--radio {
      padding-bottom: 3px;
    }
  }
}

.program-form__field-input {
  padding: 15px 20px 13px 18px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e7e7e7;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  &--condition {
    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: none;
      outline: 2px solid #444444;
      border-radius: 0;
    }

    &:invalid {
      border: none;
      outline: 2px solid #ff8282;
    }
  }

  &--optional {
    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: none;
      outline: 2px solid #444444;
      border-radius: 0;
    }
  }

  &--contact-details-phone {
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    padding: 17px 37px 10px 16px;

    &:focus {
      background-image: url("../img/phone-green.svg");
    }

    &:invalid {
      background-image: url("../img/phone-red.svg");
    }
  }

  &--contact-details-email {
    background-image: url("../img/email.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    padding: 16px 40px 10px 14px;

    &:focus {
      background-image: url("../img/email-green.svg");
    }

    &:invalid {
      background-image: url("../img/email-red.svg");
    }
  }

  &::placeholder {
    font-family: @main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }

  &--radio,
  &--checkbox {
    width: auto;
    opacity: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 13px 20px 7px 18px;

    &::placeholder {
      font-family: @main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #444444;
    }

    &--contact-details-email {
      padding: 13px 40px 7px 18px;
    }

    &--contact-details-phone {
      padding: 13px 40px 7px 18px;
    }
  }

  @media (min-width: @desktop-width) {
    &--contact-details-email {
      width: 486px;
    }

    &--contact-details-phone {
      width: 467px;
    }
  }
}

.program-form__field-mark {
  &--circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    left: -1px;
    border: 1px solid #cdcdcd;

    &:hover {
      border: 1px solid #bababa;
    }
  }

  &--box {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;

    &:hover {
      border: 1px solid #bababa;
    }
  }

  &--circle::after {
    content: "";
    position: absolute;
    display: none;
    background-image: url("../img/radio-button-active.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    top: 27%;
    left: 29%;
  }

  &--box::after {
    content: "";
    position: absolute;
    display: none;
    background-image: url("../img/checkbox-active.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 15px;
    top: 25%;
    left: 20%;
  }

  @media (min-width: @tablet-width) {
    &--circle {
      width: 40px;
      height: 40px;
      top: -1px;
      left: 0;
    }

    &--circle::after {
      background-image: url("../img/radio-button-active-tablet.svg");
      width: 23px;
      height: 23px;
      top: 28%;
      left: 26%;
    }

    &--box {
      width: 39px;
      height: 39px;
    }

    &--box::after {
      top: 31%;
      left: 27%;
    }
  }

  @media (min-width: @desktop-width) {
    &--circle {
      top: 0;
      left: -4px;
    }

    &--circle::after {
      top: 28%;
      left: 26%;
    }

    &--box::after {
      top: 34%;
      left: 23%;
    }
  }
}

.program-form__field-input--radio[type="radio"]:checked + .program-form__field-mark::after {
  display: block;
}

.program-form__field-input--checkbox[type="checkbox"]:checked + .program-form__field-mark::after {
  display: block;
}

.program-form__field-text {
  color: #222222;
  padding-left: 29px;

  &--checkbox {
    color: #000000;
  }

  @media (min-width: @tablet-width) {
    padding-left: 41px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 37px;

    &--checkbox {
      padding-left: 41px;
    }
  }
}

.program-form__field-textarea {
  width: 280px;
  min-height: 150px;
  resize: none;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    font-family: @main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }

  @media (min-width: @tablet-width) {
    width: 630px;
    min-height: 174px;
    padding: 9px 20px 9px 20px;

    &::placeholder {
      font-family: @main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #444444;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    min-height: 174px;
  }
}

.program-form__button {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: @button-color;
  width: 280px;
  height: 40px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 0px;
    margin-right: 64px;
    margin-bottom: 0;
    width: 284px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 84px;
    width: 568px;
  }
}

.program-form__text {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}
